#gray_panel {
	display : none;
	background : #000000;
	opacity : 0.5;
	width : 100%;
	height : 99999px;
	position : fixed;
	top : 0;
	left : 0;
	z-index : 50;
}

div#selectdate input#saveAnim,
div#selectdate input#saveImage {
	height          : 25px;
	width           : 200px;
	border          : 0px solid navy;
	background-color: gray;
	box-shadow      : 1px 2px 5px rgba(0,0,0,0.9);
	text-shadow     : 2px 2px 2px rgba(0,0,0,0.4);
	color           : white;
	font-weight     : bold;
	font-size       : 10pt;
	position        : relative;
	top             : 0px;
	padding         : 0px;
	margin          : 10px auto 0px auto;
	clear		: both;
}
div#selectdate input#saveAnim:active,
div#selectdate input#saveImage:active {
	top       : 2px;
	box-shadow: 0px 0px 1px rgba(0,0,0,0.4);
}
div#selectdate input#saveAnim:hover,
div#selectdate input#saveImage:hover {
	background-color: crimson;
}

#saveCanvas {
	display : none;
}

#popupWindow {
	display : none;
	position : absolute;
	width : 700px;
	height : 700px;
	margin : auto;

	font-size: 10.5pt;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
}
#popupWindow > div {
	position : relative;
	background-color : white;
	border : 4px solid #000;
	padding : 10px;
	margin : 0 auto;
	opacity : 0.85;
	width : 500px;
	z-index : 100;
}
#popupWindow div.saveFileDiv {
	display : block;
	position : relative;
	left : 0px;
	font-size : 18px;
	margin : 10px 20px;
}
#popupWindow input.saveFileInput {
	position : absolute;
	top : 0px;
	left : 140px;
	font-size : 15px;
	margin : 0px 0px;
}
#popupWindow #saveFormatDiv select {
	position : absolute;
	top : 0px;
	left : 140px;
	font-size : 15px;
	margin : 0px 0px;
}
#popupWindow #saveLog {
	position : absolute;
	top : 0;
	right : 0;
	font-size: 10pt;
}

#popupWindow .unit {
	display : inline;
	position : absolute;
	left : 260px;
	top : 0;
	margin : 5px;
	font-size: 10pt;
}

#popupWindow input[name='fname'] {
	width : 300px;
}

#popupWindow input[name='width'] {
	width : 100px;
}

#popupWindow input[name='frate'] {
	width : 100px;
}

#popupWindow input#frameRate {
	width : 60px;
}
#popupWindow input#frameRate {
	width : 60px;
}

#popupWindow div#saveTimeSpanDiv > div {
	margin-left : 20px;
}
#popupWindow div#saveTimeSpanDiv div.saveTimeSpan {
	display : inline-block;
}
#popupWindow div#saveTimeSpanDiv div.saveTimeSpan select {
	margin : 0;
}
#popupWindow div#saveTimeSpanDiv div.saveTimeSpan .calendarIcon {
	margin : 0;
}
#popupWindow div#saveTimeSpanDiv div.saveTimeSpan .calendar{
	right : auto;
}

#popupWindow #saveButtonDiv {
	display : block;
	text-align : center;
}
#popupWindow #saveAnim {
	display : inline;
	width : 80px;
}
#popupWindow #saveAnimCancel {
	display : inline;
	width : 80px;
	margin-left : 10px;
}

#popupWindow div#saveProgress {
	display : none;
	text-align : center;
}
#popupWindow div#saveProgress progress {
	display : inline;
	width : 300px;
	margin : 10px 0px;
}
#popupWindow div#saveProgress img {
	display : block;
	position : absolute;
	width : 50px;
	height : 50px;
	margin-top : -30px;
	right : 30px;
}
#popupWindow div#saveProgress div {
}
