#tSlideBar {
	width: 85%;
	margin : -3px auto 0px auto;
	position: relative;
}

div#timeSlideBar {
	width: 100%;
	margin-top: 10px;
	height: 30px;
}
#timeSlideAxis {
	height : 20px;
	margin-bottom : 5px;
/*
	background-color : yellow;
	border : 1px solid black;
*/
}

.calendarIcon {
	vertical-align: middle;
	margin-left: 5px;
}

div#dateAnimButton {
	position : relative;
	text-align: center;
	width : 65%;
	float : left;
	margin-left : 5px;
}
div#selectdate input#backButton,
div#selectdate input#stopButton,
div#selectdate input#startButton {
	width : 45px;
	height : 20px;
	font-size : 10px;
}


div#selectdate div#animSpeed {
	display : inline;
	position : relative;
	width : 31%;
	height : 24px;
	float : right;
	margin-right : 5px;
}
div#selectdate div#animSpeedTag {
	display : block;
	width : 100%;
	height : 10px;
	margin-top : -7px;
	margin-bottom : 2px;
	font-size : 8pt;
	text-shadow : 1px 1px 2px rgba(0,0,0,0.4);
}
div#selectdate div#animSpeedButton {
	display : block;
	width : 100%;
}
div#selectdate input#speedDownButton,
div#selectdate input#speedUpButton {
	width : 35px;
	height : 14px;
	font-size : 8px;
}


#timeSlideLControlWidget {
/*
	width: 8px;
	background-image: url(../images/sidebox.svg);
*/
	background-repeat: no-repeat;
	background-position: center center;
	-moz-background-size: 80% auto;
	background-size: 80% auto;
}

#timeSlideRControlWidget {
/*
	width: 8px;
	background-image: url(../images/sidebox.svg);
*/
	background-repeat: no-repeat;
	background-position: center center;
	-moz-background-size: 80% auto;
	background-size: 80% auto;
}

.timeSlideControl {
	background-repeat: no-repeat;
	background-position: center center;
	-moz-background-size: 80% auto;
	background-size: 80% auto;
}

#timeSlideLControlMinus {
	width: 10px;
	background-image: url(../images/leftarrow.svg);
}
#timeSlideLControlPlus {
	width: 10px;
	background-image: url(../images/rightarrow.svg);
}
#timeSlideRControlMinus {
	width: 10px;
	background-image: url(../images/leftarrow.svg);
}
#timeSlideRControlPlus {
	width: 10px;
	background-image: url(../images/rightarrow.svg);
}

#timeSlideLControlMinus.off {
	background-image: url(../images/leftarrowoff.svg);
}
#timeSlideLControlPlus.off {
	background-image: url(../images/rightarrowoff.svg);
}
#timeSlideRControlMinus.off {
	background-image: url(../images/leftarrowoff.svg);
}
#timeSlideRControlPlus.off {
	background-image: url(../images/rightarrowoff.svg);
}


#timeSlideWidget {
/*
	background-color: yellow;
*/
	background-image: url(../images/timebar.svg);
	background-repeat: no-repeat;
	background-position: center center;
	-moz-background-size:100% 10px;
	background-size:100% 10px;
	cursor: col-resize;
}


#timeSlideStartDate {
	width: 10px;
	height: 25px;
/*
	background-color: red;
	background-image: url(../images/sidebox.svg);
*/
	background-image: url(../images/startitem.svg);
	background-repeat: no-repeat;
	background-position: center center;
	-moz-background-size: 100% 100%;
	background-size: 100% 100%;
	cursor: col-resize;
}

#timeSlideEndDate {
	width: 10px;
	height: 25px;
/*
	background-color: red;
	background-image: url(../images/sidebox.svg);
*/
	background-image: url(../images/enditem.svg);
	background-repeat: no-repeat;
	background-position: center center;
	-moz-background-size: 100% 100%;
	background-size: 100% 100%;
	cursor: col-resize;
}

#timeSlideNowDate {
	width: 20px;
	height: 15px;
/*
	background-color: gray;
*/
	background-image: url(../images/nowarrow.svg);
	background-repeat: no-repeat;
	background-position: center center;
	-moz-background-size: 100% 100%;
	background-size: 100% 100%;
	cursor: col-resize;
}

#timeSlideSelect {
	height: 20px;
	background-color: #48e;
	opacity: 0.5;
}

.timeSlideAxis path,
.timeSlideAxis line {
	fill : none;
	stroke : black;
	stroke-width : 1px;
	shape-rendering : crispEdges;
}

.timeSlideAxis text {
	font-size : 10px ;
	pointer-events : none;
	text-shadow : 1px 1px 2px rgba(0,0,0,0.4);
}




.calendarIcon {
	cursor:pointer;
}

.calendar {
	position: absolute;
	right: 0px;
	width: auto;
	height: auto;
	background: #d6eaff;
	z-index: 5;
	box-shadow      : 2px 4px 7px rgba(0,0,0,0.9);
	text-shadow     : 2px 2px 2px rgba(0,0,0,0.4);
}

.calendar * {
	text-align: center;
	font-size: 12pt;
}
.calendar table {
	border: solid 2px gray;
	width: auto;
}
.calendar table * {
	padding: 3px;
	text-align: center;
}
.calendar caption {
	border: solid 2px gray;
	border-bottom: none;
/*
	background: aquamarine;
*/
	background: #69e;
}
.calendar caption * {
	margin : 0px 2px;
}

.calendar .time {
	width : 100px;
}
.calendar .timeTr td {
	padding : 0px;
}

.calendar #timeSlideCalendarCaptionStart,
.calendar #timeSlideCalendarCaptionPrevious,
.calendar #timeSlideCalendarCaptionNext,
.calendar #timeSlideCalendarCaptionEnd {
	height    : 20px;
	width     : 30px;
	font-size : 8pt;
}
.calendar #timeSlideCalendarCaptionSelectYear {
	font-size : 14px;
	width     : 70px;
}
.calendar #timeSlideCalendarCaptionSelectMonth {
	font-size : 14px;
	width     : 50px;
}

.calendar td {
	border-radius: 4px;
}
.calendar td.dayUnSelect {
	color: #aaaaaa;
}
.calendar td.daySelect {
	color: #000000;
	cursor:pointer;
	background: #ccc;
}
.calendar td.daySet {
	color: #000000;
/*
	background: aquamarine;
*/
	background: #69e;
}
