table#graph {
	margin : 10px auto;
	width  : 720px;
	height : 450px;
}
#graphlabel {
	width: 200px;
	font-size: 0.8em;
	padding-top: 25px;
	text-align : left;
}
#graphlabel span {
	height : 16px;
}
#graphlabel span.highlight {
	border: 1px solid #f00;
}
.dygraph-title {
	margin-left : 60px;
}
#switches {
	margin-left: 70px;
	margin-bottom: 10px;
	width: 680px;
	text-align : left;
}
#switches > div {
	display : inline;
	margin-right : 8px;
}
